<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <!-- Fill metadata before launch and edit title at line 32-->
    <meta content="width=device-width,initial-scale=1" name="viewport" charset="utf-8">
    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Public Health Agency of Canada">
    <meta name="dcterms.title" content="Data Blog Template — Canada.ca">
    <meta name="dcterms.description" content="">
    <meta name="dcterms.creator" content="Public Health Agency of Canada">
    <meta name="dcterms.language" title="ISO639-2/T" content="eng">
    <meta name="dcterms.issued" title="W3CDTF" content="2026-01-02">
    <meta name="dcterms.modified" title="W3CDTF" content="2026-02-02">
    <meta name="dcterms.spatial" content="Canada">
    <meta name="dcterms.type" content="datasets;statistics;education and awareness">
    <meta name="dcterms.identifier" content="Public_Health_Agency_of_Canada">
    <link href="/src/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/GCWeb2/css/theme.min.css">
    <link rel="stylesheet" href="/src/css/global.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- Link to your custom css stylesheet, edit path below -->
    
    <style>
      .editable {
        min-height: 20px;
      }
      
      /* Additional custom styles for editable content */
      .editable:hover {
        outline: 2px dashed #3b82f6;
        outline-offset: 2px;
      }
      
      /* Data resource cards styling */
      .data-resource-card {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
        transition: box-shadow 0.2s;
      }
      
      .data-resource-card:hover {
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      }
      
      .data-resource-card .icon {
        font-size: 2em;
        margin-bottom: 10px;
      }
    </style>
    
    <noscript>
        <link rel="stylesheet" href="/src/wet-boew/css/noscript.min.css" />
    </noscript>

    <title>Data Blog Template — Canada.ca</title>
</head>

<body vocab="http://schema.org/" typeof="WebPage">
    <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
    <script>
        dataLayer1 = [];
    </script>
    <script>
        dataLayer = [];
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN3RPZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TN3RPZ');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
    <noscript><iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer1' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer1', 'GTM-TLGQ9K');
    </script>
    <!-- End Google Tag Manager -->

    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-info">Skip to "About government"</a>
        </li>
    </ul>
    <header class="navbar navbar-default" id="navbar" style="background-color: white !important; margin-bottom: 0px;">
        <div id="wb-bnr" class="container">
            <section id="wb-lng" class="text-right">
                <h2 class="wb-inv">Language selection</h2>
                <ul class="list-inline margin-bottom-none">
                    <li><a lang="fr" href="theme-templates/index-fr.html" id="otherLangAnchor">Français</a></li>
                </ul>
            </section>
            <div class="row">
                <div class="brand col-xs-5 col-md-4">
                    <a href="https://www.canada.ca/en.html"><img src="/src/GCWeb/assets/sig-blk-en.svg" alt=""><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span></a>
                </div>
                <section id="wb-srch" class="col-lg-8 text-right">
                    <h2>Search</h2>
                    <form action="https://www.canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
                        <div class="form-group">
                            <label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
                            <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca">
                            <datalist id="wb-srch-q-ac">
                            </datalist>
                        </div>
                        <div class="form-group submit">
                            <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <nav id="wb-bc" property="breadcrumb" aria-labelledby="breadcrumbTitle">
            <h2 id="breadcrumbTitle">You are here:</h2>
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
                    <li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
                    <li><a href="https://www.canada.ca/en/services/health/science-research-data.html">Health science, research and data</a></li>
                    <li><a href="https://health-infobase.canada.ca">Health Infobase</a></li>
                </ol>
            </div>
        </nav>
    </header>
    <main property="mainContentOfPage" id="main" class="editable">
        <section class="blue-header well well-sm brdr-0 mrgn-bttm-0 mrgn-tp-0">
            <div class="container mrgn-tp-sm">
                <h1 class="mrgn-tp-md" property="name" id="wb-cont" dir="ltr"><span class="stacked"><span>Parent folder or subject: Product title</span>: <span>Product tab name</span></span></h1>
                <p>Unique description of tab content. Needs to be different for every tab.</p>
                <ul class="list-inline small mrgn-bttm-sm" style="line-height:1.65em" id="list-inline-desktop-only">
                    <li class="mrgn-rght-lg"> Last updated: 2026-02-02</li>
                    <!--<li> <a class="pdf" href="/covid-19/post-covid-condition/COVID-19-longer-term-symptoms-among-Canadian-adults.pdf"><i class="fa fa-download" aria-hidden="true"></i> <span class="wb-invisible">Download page in </span>PDF<span class="wb-invisible"> format</span></a></li>-->
                    <!--<li> <a class="pdf" href="#"><i class="fa fa-download" aria-hidden="true"></i> <span class="wb-invisible">Download data in </span>CSV<span class="wb-invisible"> format</span></a></li>-->
                </ul>
            </div>
        </section>

        <section class="well well-sm brdr-0 mrgn-bttm-25 mrgn-tp-0 tabNav" style="padding:0px;">
            <div class="container">
                <nav>
                    <!--<ul class="list-inline hidden-xs hidden-sm mrgn-bttm-0">-->
                    <!--    <li><a class="active btn btn-tabs" id="active-tab0" role="button" href="#">Tab 1</a></li>-->
                    <!--    <li><a class="btn btn-tabs" id="tab1" role="button" href=".html">Tab 2</a></li>-->
                    <!--    <li><a class="btn btn-tabs" id="tab2" role="button" href=".html">Tab 3</a></li>-->
                    <!--    <li><a class="btn btn-tabs" id="tab3" role="button" href=".html">Tab 4</a></li>-->
                    <!--    <li><a class="btn btn-tabs" id="tab4" role="button" href=".html">Tab 5</a></li>-->
                    <!--</ul>-->

                    <!--<ul class="list-unstyled hidden-md hidden-lg">-->
                    <!--    <li><a class="active btn btn-tabs-mobile" style="padding:10px 0px;" id="active-tab0" role="button" href="#">Tab 1</a></li>-->
                    <!--    <li><a class="btn btn-tabs-mobile" id="tab1" role="button" href=".html">Tab 2</a></li>-->
                    <!--    <li><a class="btn btn-tabs-mobile" id="tab2" role="button" href=".html">Tab 3</a></li>-->
                    <!--    <li><a class="btn btn-tabs-mobile" id="tab3" role="button" href=".html">Tab 4</a></li>-->
                    <!--    <li><a class="btn btn-tabs-mobile" id="tab4" role="button" href=".html">Tab 5</a></li>-->
                    <!--</ul>-->
                </nav>
            </div>
        </section>


        <div class="container">

            <!-- Start of your page content -->
          <div class="tab-content editable">
            <div role="tabpanel" class="tab-pane fade in active" id="tab1">
              <h2 class="editable">Tab 1 Content</h2>
              <p class="editable">Content for Tab 1. This section can be edited.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab2">
              <h2 class="editable">Tab 2 Content</h2>
              <p class="editable">Content for Tab 2. This section can be edited.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab3">
              <h2 class="editable">Tab 3 Content</h2>
              <p class="editable">Content for Tab 3. This section can be edited.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab4">
              <h2 class="editable">Tab 4 Content</h2>
              <p class="editable">Content for Tab 4. This section can be edited.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab5">
              <h2 class="editable">Tab 5 Content</h2>
              <p class="editable">Content for Tab 5. This section can be edited.</p>
            </div>
          </div>

            <!--End of your page content -->

            <!-- Download data tiles, fill out if needed, remove if not -->
            <div id="tiles">
                <h3>Additional ... data resources</h3>
                <div class="wb-eqht">
                    <div id="downloadPanel1" class="text-center learn-more outerPanel" style="vertical-align: top; min-height: 202px;">
                        <div class="innerPanel">
                            <p><i style="font-size:80px;" class="fa fa-database"></i></p>
                            <p class="innerPanelText"><strong>Download</strong> <a href=".csv" target="_blank" class="downloadData">... data (.csv)</a> and <a href=".csv" target="_blank" class="downloadData">... data (.csv)</a></p>
                        </div>
                    </div>
                    <div id="downloadPanel2" class="text-center learn-more outerPanel" style="vertical-align: top; min-height: 202px;">
                        <div class="downloadData innerPanel">
                            <p><i style="font-size:80px;" class="fab fa-readme"></i></p>
                            <p class="innerPanelText"><strong>Download</strong> <a href=".csv" target="_blank" class="downloadData">... data dictionary (.csv)</a> and <a href=".csv" target="_blank" class="downloadData">... data dictionary (.csv)</a></p>
                        </div>
                    </div>
                    <div id="downloadPanel3" class="text-center learn-more outerPanel" style="vertical-align: top; min-height: 202px;">
                        <a href=".pdf" target="_blank" class="downloadReport innerPanel">
                            <p><i style="font-size:80px;" class="fa fa-file-download"></i></p>
                            <p><strong>Download</strong> report (.pdf)</p>
                        </a>
                    </div>
                    <div id="downloadPanel4" class="text-center learn-more outerPanel" style="vertical-align: top; min-height: 202px;">
                        <a href=".html" target="_blank" class="clickDataTrendsPage innerPanel">
                            <p><i style="font-size:80px;" class="fa fa-external-link-alt"></i></p>
                            <p>To learn more, visit <span class="nowrap">...</span></p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 2 links to other relevant/related Infobase products, customize for your product -->
            <div class="well well-md">
                <h2 class="h3 mrgn-tp-sm">You might also be interested in</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <img class="img-responsive mrgn-bttm-sm" src="/src/img/covid-icon.png" alt="" />
                        </div>
                        <div class="col-md-9">
                            <h3 class="h4 mrgn-tp-sm"><a href="https://health-infobase.canada.ca/covid-19/wastewater/">COVID-19 wastewater surveillance dashboard</a></h3>
                            <p>Trend data about the levels of COVID-19 in the wastewater.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <img class="img-responsive mrgn-bttm-sm" src="/src/img/redesign/vaccine.png" alt="" />
                        </div>
                        <div class="col-md-9">
                            <h3 class="h4 mrgn-tp-sm"><a href="https://health-infobase.canada.ca/covid-19/vaccine-administration/">COVID-19 vaccination</a></h3>
                            <p>Number of COVID-19 vaccine doses that have been administed in Canada.</p>
                        </div>
                    </div>
                </div>
                <a href="https://health-infobase.canada.ca/">All Health Infobase data products</a>
            </div>

            <div class="row pagedetails">
                <div class="datemod col-xs-12 mrgn-tp-lg">
                    <dl id="wb-dtmd">
                        <dt>Date modified: </dt>
                        <dd><time class="dateModified" property="dateModified">2024-01-16</time></dd>
                    </dl>
                </div>
            </div>
        </div>
    </main>

    <footer id="wb-info">
        <h2 class="wb-inv">About this site</h2>
        <div class="gc-contextual">
            <div class="container">
                <nav>
                    <h3><a href="https://health-infobase.canada.ca">Health Infobase</a></h3>
                    <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
                        <li><a href="mailto:infobase@phac-aspc.gc.ca">Contact us by email</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="gc-main-footer">
            <div class="container">
                <nav>
                    <h3>Government of Canada</h3>
                    <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
                        <li><a href="https://www.canada.ca/en/contact.html">All Contacts</a></li>
                        <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
                        <li><a href="https://www.canada.ca/en/government/system.html">About government</a></li>
                    </ul>
                    <h4><span class="wb-inv">Themes and topics</span></h4>
                    <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                        <li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
                        <li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
                        <li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
                        <li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
                        <li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
                        <li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
                        <li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
                        <li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
                        <li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
                        <li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
                        <li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
                        <li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
                        <li><a href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
                        <li><a href="https://www.canada.ca/en/services/finance.html">Money and finance</a></li>
                        <li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
                        <li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous peoples</a></li>
                        <li><a href="https://www.canada.ca/en/services/veterans.html">Veterans and military</a></li>
                        <li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="gc-sub-footer">
            <div class="container d-flex align-items-center">
                <nav>
                    <h3 class="wb-inv">Government of Canada Corporate</h3>
                    <ul>
                        <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                        <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                        <li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                    </ul>
                </nav>
                <div class="wtrmrk align-self-end">
                    <img src="/src/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
                </div>
            </div>
        </div>
    </footer>
    <script src="/src/js/jquery.js"></script>
    <script src="/src/wet-boew/js/wet-boew.min.js"></script>
    <script src="/src/GCWeb/js/theme.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/src/js/datatables.js"></script>
    <script src="/src/js/d3.v7.min.js"></script>
    <script src="/src/js/d3-interpolate-path/d3-interpolate-path.min.js"></script>
    <script src="/src/js/topojson.v2.min.js"></script>
    <script src="/src/js/polylabel.js"></script>
    <script src="/src/js/d3-array.v2.min.js"></script>
    <script src="/src/js/survey.js"></script>
    <script src="/src/js/functions/localization.js"></script>
    <!-- Socket.IO Client (required for real-time features) -->
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  
    <!-- Live Edits Widget -->
    <script src="/_live-edits/widget/editor.js" data-live-edits-folder-path="/_live-edits/templates/data-blog"></script>
    
    <!-- Template-specific save handler -->
    <script>
        (function() {
            // Wait for editor to initialize
            setTimeout(function() {
                // Check if we're on a template page
                const isTemplate = window.location.pathname.includes('/_live-edits/templates/');
                
                if (isTemplate) {
                    // Extract template name from URL
                    const pathMatch = window.location.pathname.match(/\/_live-edits\/templates\/([^\/]+)/);
                    const templateName = pathMatch ? pathMatch[1] : 'data-blog';
                    
                    // Intercept save button clicks
                    const saveBtn = document.getElementById('save-btn');
                    if (saveBtn) {
                        // Remove existing event listeners by cloning the button
                        const newSaveBtn = saveBtn.cloneNode(true);
                        saveBtn.parentNode.replaceChild(newSaveBtn, saveBtn);
                        
                        // Add our custom handler
                        newSaveBtn.addEventListener('click', async function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            
                            // Get product name (single prompt)
                            const productName = prompt('Enter a product name to save this template as a new product:\n\n(Product name can only contain letters, numbers, dashes, and underscores)');
                            
                            if (!productName) {
                                return; // User cancelled
                            }
                            
                            // Use a default user name or get from localStorage if available
                            const userName = localStorage.getItem('liveEdits_userName') || 'Template User';
                            
                            // Trim and clean the product name (remove any whitespace and special characters that might sneak in)
                            const trimmedName = productName.trim().replace(/[\s\u00A0\u2000-\u200B\u2028\u2029]/g, '');
                            
                            // Validate product name
                            if (!trimmedName) {
                                alert('Product name cannot be empty');
                                return;
                            }
                            
                            // More permissive validation - allow letters, numbers, dashes, and underscores
                            // Also log for debugging
                            const validPattern = /^[a-zA-Z0-9_-]+$/;
                            if (!validPattern.test(trimmedName)) {
                                console.error('Invalid product name:', {
                                    original: productName,
                                    trimmed: trimmedName,
                                    length: trimmedName.length,
                                    charCodes: Array.from(trimmedName).map(c => c.charCodeAt(0))
                                });
                                alert('Product name can only contain letters, numbers, dashes, and underscores.\n\nYou entered: "' + trimmedName + '"');
                                return;
                            }
                            
                            // Show loading message
                            const statusEl = document.getElementById('live-edits-status');
                            if (statusEl) {
                                statusEl.textContent = 'Creating product and saving changes...';
                                statusEl.style.color = '#666';
                            }
                            
                            try {
                                // Extract all editable content
                                const editableElements = document.querySelectorAll('[data-live-edits-id]');
                                const elementEdits = {};
                                
                                editableElements.forEach(el => {
                                    const id = el.getAttribute('data-live-edits-id');
                                    if (id) {
                                        const clone = el.cloneNode(true);
                                        clone.querySelectorAll('#live-edits-toolbar, .comment-marker, .wysiwyg-controls, .comment-popup').forEach(ui => ui.remove());
                                        elementEdits[id] = clone.innerHTML;
                                    }
                                });
                                
                                const htmlContent = JSON.stringify(elementEdits);
                                
                                // Step 1: Create product from template via API or show instructions
                                let projectId = null;
                                // Use the validated and cleaned name
                                const cleanedProductName = trimmedName;
                                const newProductPath = '/_live-edits/products/' + cleanedProductName;
                                const newPagePath = newProductPath + '/index.html';
                                
                                // Step 1: Create database entry via API
                                let dbProjectId = null;
                                try {
                                    const SERVER_URL = window.location.origin.includes('infobase-dev.com') && !window.location.origin.includes('en.infobase-dev.com')
                                        ? window.location.origin.replace('infobase-dev.com', 'en.infobase-dev.com') + '/live-edits'
                                        : window.location.origin + '/live-edits';
                                    
                                    const createResponse = await fetch(SERVER_URL + '/api/create-product-from-template', {
                                        method: 'POST',
                                        headers: { 'Content-Type': 'application/json' },
                                        body: JSON.stringify({
                                            template: templateName,
                                            productName: cleanedProductName
                                        })
                                    });
                                    
                                    if (createResponse.ok) {
                                        const createResult = await createResponse.json();
                                        dbProjectId = createResult.projectId;
                                        console.log('Product registered in database with ID:', dbProjectId);
                                    } else {
                                        const errorData = await createResponse.json().catch(() => ({ error: 'Unknown error' }));
                                        console.error('Failed to register product:', errorData);
                                    }
                                } catch (apiError) {
                                    console.error('API error:', apiError);
                                }
                                
                                // Step 2: Execute copy-template.js on AWSC9 automatically
                                if (statusEl) {
                                    statusEl.textContent = 'Creating product files on AWSC9...';
                                    statusEl.style.color = '#666';
                                }
                                
                                try {
                                    // Call AWSC9 API to execute copy-template.js
                                    const awsc9ApiUrl = window.location.origin + '/api/execute-copy-template';
                                    const executeResponse = await fetch(awsc9ApiUrl, {
                                        method: 'POST',
                                        headers: { 'Content-Type': 'application/json' },
                                        body: JSON.stringify({
                                            template: templateName,
                                            productName: cleanedProductName
                                        })
                                    });
                                    
                                    if (executeResponse.ok) {
                                        const executeResult = await executeResponse.json();
                                        console.log('Product files created:', executeResult);
                                        
                                        if (statusEl) {
                                            statusEl.textContent = 'Product created! Registering and saving edits...';
                                            statusEl.style.color = '#666';
                                        }
                                        
                                        // Wait a moment for copy-template.js to register the product with server
                                        await new Promise(resolve => setTimeout(resolve, 2000));
                                        
                                        // Fetch the project ID (copy-template.js registers it, might update the entry)
                                        try {
                                            const SERVER_URL = window.location.origin.includes('infobase-dev.com') && !window.location.origin.includes('en.infobase-dev.com')
                                                ? window.location.origin.replace('infobase-dev.com', 'en.infobase-dev.com') + '/live-edits'
                                                : window.location.origin + '/live-edits';
                                            
                                            const projectResponse = await fetch(SERVER_URL + '/projects/' + encodeURIComponent(newProductPath));
                                            if (projectResponse.ok) {
                                                const project = await projectResponse.json();
                                                projectId = project.id;
                                                console.log('Product registered with ID:', projectId);
                                            } else {
                                                // Fallback to DB project ID if fetch fails
                                                projectId = dbProjectId;
                                                console.log('Using project ID from initial registration:', projectId);
                                            }
                                        } catch (fetchError) {
                                            console.error('Error fetching project:', fetchError);
                                            // Fallback to DB project ID
                                            projectId = dbProjectId;
                                        }
                                    } else {
                                        const errorData = await executeResponse.json().catch(() => ({ error: 'Unknown error' }));
                                        console.error('Failed to create product files:', errorData);
                                        
                                        // Show fallback instructions
                                        const command = 'node scripts/copy-template.js ' + templateName + ' ' + cleanedProductName;
                                        alert('Failed to automatically create product files.\n\n' +
                                              'Please run this command on AWSC9:\n\n' +
                                              command + '\n\n' +
                                              'Then refresh this page and save again.');
                                        
                                        if (statusEl) {
                                            statusEl.textContent = 'Failed to create product files automatically';
                                            statusEl.style.color = '#d32f2f';
                                        }
                                        return;
                                    }
                                } catch (executeError) {
                                    console.error('Error executing copy-template.js:', executeError);
                                    
                                    // Show fallback instructions
                                    const command = 'node scripts/copy-template.js ' + templateName + ' ' + cleanedProductName;
                                    alert('Could not connect to AWSC9 API server.\n\n' +
                                          'Please run this command on AWSC9:\n\n' +
                                          command + '\n\n' +
                                          'Or start the API server: node scripts/awsc9-api-server.js\n\n' +
                                          'Then refresh this page and save again.');
                                    
                                    if (statusEl) {
                                        statusEl.textContent = 'AWSC9 API server not available';
                                        statusEl.style.color = '#d32f2f';
                                    }
                                    return;
                                }
                                
                                // Step 3: Get project ID (from database entry created in step 1, or fetch if needed)
                                if (!projectId) {
                                    // Try to get project ID from database
                                    try {
                                        const SERVER_URL = window.location.origin.includes('infobase-dev.com') && !window.location.origin.includes('en.infobase-dev.com')
                                            ? window.location.origin.replace('infobase-dev.com', 'en.infobase-dev.com') + '/live-edits'
                                            : window.location.origin + '/live-edits';
                                        
                                        const projectResponse = await fetch(SERVER_URL + '/projects/' + encodeURIComponent(newProductPath));
                                        if (projectResponse.ok) {
                                            const project = await projectResponse.json();
                                            projectId = project.id;
                                            console.log('Found existing project:', projectId);
                                        }
                                    } catch (e) {
                                        console.error('Error fetching project:', e);
                                    }
                                    
                                    if (!projectId && dbProjectId) {
                                        // Use the project ID from database registration
                                        projectId = dbProjectId;
                                        console.log('Using project ID from database registration:', projectId);
                                    }
                                    
                                    if (!projectId) {
                                        // Show instructions to create product on AWSC9 first
                                        const instructions = 'Product files created but project not found in database.\n\n' +
                                                          'Please ensure the product was registered correctly.';
                                        alert(instructions);
                                        if (statusEl) {
                                            statusEl.textContent = 'Project not found in database';
                                            statusEl.style.color = '#d32f2f';
                                        }
                                        return;
                                    }
                                }
                                
                                // Step 4: Save edits to the new product
                                if (projectId) {
                                    const SERVER_URL = window.location.origin.includes('infobase-dev.com') && !window.location.origin.includes('en.infobase-dev.com')
                                        ? window.location.origin.replace('infobase-dev.com', 'en.infobase-dev.com') + '/live-edits'
                                        : window.location.origin + '/live-edits';
                                    
                                    const saveResponse = await fetch(SERVER_URL + '/edits', {
                                        method: 'POST',
                                        headers: { 'Content-Type': 'application/json' },
                                        body: JSON.stringify({
                                            project_id: projectId,
                                            page_path: newPagePath,
                                            html_content: htmlContent,
                                            edited_by: userName.trim()
                                        })
                                    });
                                    
                                    if (saveResponse.ok) {
                                        if (statusEl) {
                                            statusEl.textContent = 'Product created and changes saved!';
                                            statusEl.style.color = '#2e7d32';
                                        }
                                        
                                        // Open new product in new tab
                                        setTimeout(() => {
                                            window.open(newPagePath, '_blank');
                                        }, 500);
                                    } else {
                                        const errorText = await saveResponse.text();
                                        console.error('Failed to save edits:', errorText);
                                        if (statusEl) {
                                            statusEl.textContent = 'Product created but failed to save edits';
                                            statusEl.style.color = '#d32f2f';
                                        }
                                        // Still open the product even if edits failed to save
                                        setTimeout(() => {
                                            window.open(newPagePath, '_blank');
                                        }, 500);
                                    }
                                }
                            } catch (error) {
                                console.error('Error creating product:', error);
                                alert('Error: ' + error.message + '\n\nPlease run this command on the server:\n\n' +
                                      'node scripts/copy-template.js ' + templateName + ' ' + trimmedName);
                                if (statusEl) {
                                    statusEl.textContent = 'Error creating product';
                                    statusEl.style.color = '#d32f2f';
                                }
                            }
                        });
                    }
                }
            }, 1500); // Wait for editor to initialize
        })();
    </script>
    
    <script>
        var beforePrint = function() {
            $("details").attr('open', '');
        };

        var afterPrint = function() {
            $("details").removeAttr('open');
        };

        if (window.matchMedia) {
            var mediaQueryList = window.matchMedia('print');
            mediaQueryList.addListener(function(mql) {
                if (mql.matches) {
                    beforePrint();
                }
                else {
                    afterPrint();
                }
            });
        }

        $(document).on("wb-ready.wb", function() {
            $("#btnno").click(function(e) {
                $(".gc-pg-hlpfl-no").removeClass("nojs-show");
                $(".gc-pg-hlpfl-btn").addClass("hide");
                $("#helpful").val("No");
            });
            $("#gc-pg-hlpfl-frm").submit(function(e) {
                e.preventDefault();
                $(".gc-pg-hlpfl-thnk").removeClass("hide");
                $("#gc-pg-hlpfl-frm").addClass("hide nojs-show");
                $.ajax({
                    url: 'https://pagesuccessemailqueue.azurewebsites.net/api/QueueProblemForm',
                    type: 'POST',
                    dataType: 'text',
                    data: $('form#gc-pg-hlpfl-frm').serialize(),
                    success: function(data) {},
                    error: function(xhr, status, err) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>

</html>